@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
:root{
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oxanium', cursive;
    color: white;
}
body{
    background-color: #0D0D2B;
    font-size: 1.6rem;
}
section{
    width: 100%;
}
a{
    text-decoration: none;
    transition: all .3s;
}
p{
    font-size: 1.6rem;
}
h1{
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1;
}
button{
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    padding: .4rem 1.6rem;
    border-radius: 100px;
    gap: 1rem;
    transition: all .3s;
    cursor: pointer;
}
button:hover{
    background-color: #2766e6;
}
small{
    font-size: 1.2rem;
    height: 1.7rem;
}
input, select, option{
    color: #0d0d2b;
    font-size: 2rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #0D0D2B;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:focus, input:active, input:visited, textarea:focus, textarea:active, textarea:visited{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #9ca3af;
}
.flex{
    display: flex;
    align-items: center;
}
.column{
    flex-direction: column;
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.grey{
    color: #9ca3af;
}
nav{
    color: white;
    padding: 2.5rem 6rem;
}
.nav--links ul li{
    display: inline-block;
}
.nav--links ul li:hover a{
    border-bottom: 1px solid #3b82f6;
    margin-bottom: -5px;
    padding-bottom: 5px;
}
.nav--links ul,
.buttons,
.nav--links li,
.buttons a{
    padding: 1rem;
    font-size: 1.6rem;
}
.buttons span{
    color: #ffffff33;
    padding: 0 1rem;
}
.buttons a:nth-child(3){
    border-radius: 100px;
    background-color: #3b82f6;
    padding: 1rem 1.5rem;
}
.burger{
    width: 20px;
    height: 15px;
    z-index: 6;
    display: none;
    cursor: pointer;
}
.fixed{
    position: fixed;
    top: 3rem;
    right: 3rem;
}
.line{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all .5s;
}
.rot1{
    transform: rotate(405deg) translate(4px,5px);
}
.disappear{
    opacity: 0;
}
.rot2{
    transform: rotate(-405deg) translate(4px,-5px);
}
.nav--links2{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: #252540;
    text-align: center;
    font-size: 2.4rem;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* display: none; */
}
.nav--links2.toggle{
    left: 0;
    right: 0;
}
.nav--links2 li{
    margin-block: 2rem;
}
.nav--links2 .buttons a{
    font-size: 2.4rem;
}
.hero{
    padding: 1rem 5rem;
    background-image: url(../img/hero-bg.png);
    background-size: contain;
    min-height: 47rem;
}
.hero--text{
    width: 40%;
}
.hero--text *{
    margin-block: 1.5rem;
}
.rounded-div{
    border-radius: 100px;
    background-color: #ffffff33;
    overflow: hidden;
    width: 65%;
    padding: .4rem;
}
.rounded-div *, button svg{
    margin: 0 !important;
}
.rounded-div small{
    padding: .3rem 1rem;
}
.rounded-div small:nth-child(1){
    border-radius: 100px;
    background-color: #ffffff;
    color: #0D0D2B;
}
.hero--image{
    text-align: center;
}
.hero--image img{
    width: 75%;
}
.features{
    padding: 8rem 5rem 1.6rem;
}
.features h1{
    font-size: 2.4rem;
}
.why_us{
    padding: 4rem 5rem 1.6rem;
}
.why_us div{
    width: 48%;
}
.flex-card{
    width: 20%;
    gap: 2rem;
}
.why--image{
    text-align: center;
}
.why--image img{
    width: 100%;
}
.why--text *{
    margin-block: 2rem;
}
.why_us h1{
    font-weight: 400;
}
.check{
    padding: 5.6rem 5rem 0rem;
    min-height: 37rem;
}
.check h2:nth-child(1), .check p:nth-child(2){
    text-align: center;
    margin-block: 2rem;
}
.calculate{
    background-color: #ffffff;
    margin: -12rem auto 2rem;
    /* align-items: flex-start; */
    width: 70%;
    padding: 4.8rem;
    border-radius: 20px;
    transform: translateY(15rem);
}
.calculate .flex{
    width: 100%;
    margin-bottom: 2rem;
}
.calculate p{
    color: #3671e9;
    margin-bottom: 2rem;
    width: 100%;
    text-align: left !important;
}
.calculate h2{
    font-size: 3.2rem;
    color: #0D0D2B;
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
}
.calculate h2 span{
    color: #3671E9;
}
.calculate input,
.cta input{
    width: 50%;
    line-height: 2.8rem;
    border: none;
    border-bottom: 1px solid #9ca3af;
}
.calculate button{
    font-size: 1.8rem;
}
.calculate input, select{
    height: 38px;
}
select, option{
    width: 20%;
    line-height: 2.8rem;
    border: none;
    border-bottom: 1px solid #9ca3af;
}
.currencies{
    background-color: #f9fafb;
    text-align: center;
    padding: 20rem 5rem 5rem;
}
.currencies h2{
    margin: auto;
    margin-bottom: 3rem;
    color: #000000;
}
.currencies .flex--container{
    width: 80%;
    margin: 3rem auto;
}
.currencies .flex-card{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4.8rem 2.4rem;
    width: 30%;
    transition: all .5s;
}
.currencies .flex-card *{
    color: #000000 !important;
}
.currencies .flex-card img{
    margin-bottom: 2.4rem;
}
.currencies .flex-card h3{
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
}
.currencies .flex-card p{
    margin-bottom: 1.2rem;
}
.currencies button{
    font-size: 1.8rem;
    padding: 1.2rem 2.4rem;
    transition: all .5s;
}
.currencies button span{
    color: #f9fafb;
}
.currencies .card_click{
    background-color: #00000000;
    border-radius: 100px;
    border: 3px solid #9ca3af;
    padding: 1.2rem;
    transition: all .5s;
}
.card_click .toggle-text{
    position: absolute;
    margin-right: -50%;
    z-index: -2;
    opacity: 0;
    transition: all .5s;
}
.card_click .toggle-text.show{
    display: block;
    position: relative;
    margin: 0%;
    width: fit-content;
    z-index: 1;
    opacity: 1;
}
.currencies .flex--container .flex-card.bgviolet{
    background-color: #2b076e !important;
}
.currencies .flex--container .flex-card.bgviolet *{
    color: #f9fafb !important;
}
.features-2{
    padding: 4.8rem 5rem;
}
.features-2 h2{
    font-size: 3rem;
    text-align: center;
    width: 50%;
    margin: auto;
    font-weight: 400;
}
.features-2 > div{
    margin-block: 5rem;
}
.features-2 .text{
    width: 45%;
    align-items: flex-start;
    gap: 2rem;
}
.features-2 .text h1{
    font-size: 2.4rem;
}
.features-2 .text small{
    height: fit-content;
}
.features-2 .image{
    width: 50%;
    text-align: center;
}
.features-2 .image img{
    width: 100%;
}
.cta{
    padding: 5.6rem 0;
}
.cta .inner{
    background-color: #3671E9;
    background-image: url(../img/newsletter-box.png);
    border-radius: 16px;
    width: 90%;
    margin: auto;
    padding: 3rem 4rem;
}
.cta .inner * {
    width: 100%;
}
.cta h1{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.cta .inner div{
    width: 50%;
    margin-block: 3rem; 
}
.cta input{
    background-color: transparent;
    color: #ffffff;
    width: 75%;
}
.cta input::placeholder{
    color: #ffffff;
}
.cta button{
    padding: .8rem 1.6rem;
    font-size: 1.6rem;
    background-color: #ffffff;
    color: #3671e9;
}
.site_details{
    padding: 4rem;
}
.site_details div{
    padding: 1rem;
}
.site_details .logo{
    width: 20%;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: flex-start;
}
.site_details .quick_links,
.site_details .resources{
    width: fit-content;
}
ul{
    list-style: none;
}
.site_details h3{
    margin-bottom: 2rem;
}
.site_details li{
    padding-block: 1rem;
}
.site_details li a:hover{
    color: #3671E9;
}
.payment_details{
    align-self: flex-start;
    width: 30%;
}
.payment_details h3{
    font-size: 1.6rem;
    font-weight: 400;
}
.payment_details img{
    width: 30%;
}
.site_details .cards{
    width: 100%;
}
.socials_n_copyright{
    padding: 4.8rem 5rem;
}
.socials_n_copyright .icons{
    width: 30%;
}
.socials_n_copyright .icons img{
    fill: white;
}
@media screen and (max-width: 1023px) {
    .burger{
        display: flex;
    }
    .nav--links{
        display: none;
    }
    main section,
    footer section,
    .flex--container,
    .calculate .flex,
    .cta .flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    main section,
    footer section,
    .flex--container,
    .calculate .flex{
        gap: 3rem;
    }
    section{
        max-width: 72rem;
        margin: auto;
    }
    section > div,
    .flex--container > div{
        width: 100% !important;
        /* padding-bottom: 2rem; */
    }
    .features .flex--container > div{
        width: 24rem !important;
    }
    .features svg{
        width: 6.5rem;
        height: 6.5rem;
    }
    .currencies{
        min-width: 100%;
    }
    .hero h1,
    .why_us h1{
        font-size: 3.6rem;
    }
    .hero--image{
        text-align: center;
    }
    .features-2 h2{
        width: 100%;
    }
    .cta .inner div{
        width: 100%;
        margin-block: 1rem; 
    }
    .cta input{
        width: 100%;
    }
    footer{
        text-align: center;
    }
    footer section{
        padding: 2rem 4rem !important;
    }
    .site_details .logo{
        align-items: center;
    }
    .site_details .cards{
        width: fit-content;
        margin: auto;
    }
    .payment_details img{
        max-width: 10rem;
    }
    .calculate .flex{
        align-items: flex-start;
    }
    .calculate input, select{
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    nav, section{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .rounded-div{
        width: 80%;
    }
}